<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>



<div th:fragment="menubar">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/sheaSepherdLogo.png}" width="45px" height="45px">Shea Sepherd Organisation
            </a>

            <a class="nav-link" href="/">Startseite</a>
            <a class="nav-link" href="/aktuelles">Aktuelles</a>
            <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login/Registrieren</a>

            <a class="nav-link" sec:authorize="isAuthenticated()" href="/melden">Neues Geisternetz melden</a>

            <a class="nav-link" href="/gemeldeteGeisternetze">Übersicht aller Geisternetze</a>

            <a class="nav-link" sec:authorize="hasRole('Berger')" href="/bergung">Zu bergende Netze</a>
            <a class="nav-link" sec:authorize="hasRole('Berger')" href="/meineBergungen">Meine Bergungen</a>

            <a class="nav-link" sec:authorize="isAuthenticated()" href="/geborgeneNetze">Geborgene Netze</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" href="/verscholleneNetze">Verschollenes Netz melden</a>

            <a class="nav-link" href="/kontakt">Kontakt</a>

            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" style="display:inline;">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>

        </div>
    </nav>
</div>

</body>
</html>