<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erfolgreiche Übermittlung</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>

    <div th:replace="fragments/menubar :: menubar"></div>

    <div class="container mt-5">
        <h2>Erfolgreiche Meldung</h2>
        <p>Danke für deinen Beitrag!</p>
        <p>Du hast folgendes Geisternetz gemeldet: </p>
        <ul>
            <li>Latitude: <span th:text="${latitude}"></span></li>
            <li>Longitude: <span th:text="${longitude}"></span></li>
            <li>Größe: <span th:text="${groesse}"></span></li>
            <li>Meldezeit: <span th:text="${date}"></span></li>
        </ul>
        <a href="/melden" class="btn btn-secondary">Weitere Meldung machen</a>
    </div>

</body>

</html>